<%- include("../includes/head.ejs") %>

</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar"
data-open="click" data-menu="vertical-menu" data-col="2-columns">
    <%- include("../includes/navebar.ejs") %>
    <%- include("../includes/aside.ejs") %>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">main </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/dashboard/main-categorys/">main categorys </a>
                                </li>
                                <li class="breadcrumb-item active">update main category
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form"> add main category</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <%- include("../includes/notification") %> 
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <form enctype="multipart/form-data" method="post" action="?_csrf=<%= csrf %>" class="form"  >
                                            <div class="form-body main">
                                                <h4 class="form-section"><i class="ft-home"></i>main category data</h4>

                                                <div class="row main">
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> category in english</label>
                                                            <input type="text" value="<%= bodyData ? bodyData.category_en : mainCategory.category_en %>" class="form-control" placeholder="enter category in english" name="category_en">
                                                                <% if (validationError.category_en) { %>
                                                                    <span class="text-danger"><%=validationError.category_en[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> category in arabic</label>
                                                            <input type="text" value="<%= bodyData ? bodyData.category_ar : mainCategory.category_ar %>" class="form-control" placeholder="enter category in arabic" name="category_ar">
                                                                <% if (validationError.category_ar) { %>
                                                                    <span class="text-danger"><%=validationError.category_ar[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> description in english</label>
                                                            <textarea type="text" class="form-control" placeholder="enter description in english" name="description_en"><%= bodyData ? bodyData.description_en : mainCategory.description_en %></textarea>
                                                                <% if (validationError.description_en) { %>
                                                                    <span class="text-danger"><%=validationError.description_en[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> description in arabic</label>
                                                            <textarea type="text" class="form-control" placeholder="enter description in arabic" name="description_ar"><%= bodyData ? bodyData.description_ar : mainCategory.description_ar %></textarea>
                                                                <% if (validationError.description_ar) { %>
                                                                    <span class="text-danger"><%=validationError.description_ar[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> meta Description in english</label>
                                                            <textarea type="text"  class="form-control" placeholder="enter meta description in english" name="metaDescription_en"><%= bodyData ? bodyData.metaDescription_en : mainCategory.metaDescription_en %></textarea>
                                                                <% if (validationError.metaDescription_en) { %>
                                                                    <span class="text-danger"><%=validationError.metaDescription_en[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> meta Description in arabic</label>
                                                            <textarea type="text" class="form-control" placeholder="enter meta description in arabic" name="metaDescription_ar"><%= bodyData ? bodyData.metaDescription_ar : mainCategory.metaDescription_ar %></textarea>
                                                                <% if (validationError.metaDescription_ar) { %>
                                                                    <span class="text-danger"><%=validationError.metaDescription_ar[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> meta Keywords in english</label>
                                                            <textarea type="text" class="form-control" placeholder="enter meta Keywords in english" name="metaKeywords_en"><%= bodyData ? bodyData.metaKeywords_en : mainCategory.metaKeywords_en %></textarea>
                                                                <% if (validationError.metaKeywords_en) { %>
                                                                    <span class="text-danger"><%=validationError.metaKeywords_en[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> meta Keywords in arabic</label>
                                                            <textarea type="text" class="form-control" placeholder="enter meta Keywords in arabic" name="metaKeywords_ar"><%= bodyData ? bodyData.metaKeywords_ar : mainCategory.metaKeywords_ar %></textarea>
                                                                <% if (validationError.metaKeywords_ar) { %>
                                                                    <span class="text-danger"><%=validationError.metaKeywords_ar[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="image col-12" >
                                                        <img style="width:300px;height:300px" src="/assets/dashboard/Categorys/<%= mainCategory.image.split("--")[0] %>" alt="">
                                                    </div>                                                     
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput2">category photo</label>
                                                            <div class="custom-file">
                                                                <input type="file" name="image" class="custom-file-input">
                                                                <input type="hidden" name="oldImage" value="<%= mainCategory.image %>">
                                                                <label class="custom-file-label">Choose file</label>
                                                            </div>
                                                                <% if (validationError.image) { %>
                                                                    <span class="text-danger"><%=validationError.image[0].msg %></span>
                                                                <% } %>
                                                     </div>
                                                    </div>

                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group mt-1">
                                                            <input type="checkbox" name="active"
                                                                id="switch1"
                                                                value="1"
                                                                class="switch "
                                                                checked
                                                                />
                                                            <label
                                                                class="card-title ml-1" for="switch1">state </label>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary col-12">
                                                <i class="la la-check-square-o"></i> save
                                            </button>
                                           
                                        </form>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>

    <%- include("../includes/footer") %> 
    <%- include("../includes/footerScript") %> 
    <script>
        var vendoer = document.querySelector(".vendor")
        function makeVendor(e) {
            console.log(e.target.checked)
            if(e.target.checked) {
                var child = vendoer.cloneNode(true)
                child.classList.remove("d-none")
                document.querySelector(".main").appendChild(child)
            } else {
                document.querySelector(".vendor").remove()        
            }
        }
    </script>
</body>
</html>
