<%- include("../includes/head.ejs") %>

</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar"
data-open="click" data-menu="vertical-menu" data-col="2-columns">
    <%- include("../includes/navebar.ejs") %>
    <%- include("../includes/aside.ejs") %>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">main </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/dashboard/users/"> users </a>
                                </li>
                                <li class="breadcrumb-item active">edit user
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
                                                    
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form"> edit user</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <%- include("../includes/notification") %> 
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <form enctype="multipart/form-data" method="post" action="?_csrf=<%= csrf %>" class="form"  >
                                            <div class="form-body main">
                                                <h4 class="form-section"><i class="ft-home"></i> user data</h4>

                                                <div class="row main">
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> first name</label>
                                                            <input type="text" value="<%= bodyData ? bodyData.fName : userData.fName %>" class="form-control" placeholder="enter first name" name="fName">
                                                                <% if (validationError.fName) { %>
                                                                    <span class="text-danger"><%=validationError.fName[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> last name</label>
                                                            <input type="text" value="<%= bodyData ? bodyData.lName : userData.lName %>" class="form-control" placeholder="enter last name" name="lName">
                                                                <% if (validationError.lName) { %>
                                                                    <span class="text-danger"><%=validationError.lName[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> age </label>
                                                            <input type="number"  value="<%= bodyData ? bodyData.age : userData.age %>" class="form-control" placeholder="enter age" name="age">
                                                                <% if (validationError.age) { %>
                                                                    <span class="text-danger"><%=validationError.age[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> email </label>
                                                            <input type="text" value="<%= bodyData ? bodyData.email : userData.email %>" class="form-control" placeholder="enter your email" name="email">
                                                                <% if (validationError.email) { %>
                                                                    <span class="text-danger"><%=validationError.email[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> password if you wont to change</label>
                                                            <input type="hidden" value="<%= userData.password %>" name="oldPassword" >
                                                            <input type="password" placeholder="enter password if you wont to change" value="<%= bodyData ? bodyData.password : "" %>" class="form-control" placeholder="enter password" name="password">
                                                                <% if (validationError.password) { %>
                                                                    <span class="text-danger"><%=validationError.password[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> password again</label>
                                                            <input type="password" class="form-control" value="<%= bodyData ? bodyData.confirmPassword : "" %>" placeholder="enter password again" name="confirmPassword">
                                                                <% if (validationError.confirmPassword) { %>
                                                                    <span class="text-danger"><%=validationError.confirmPassword[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> address </label>
                                                            <input type="text" value="<%= bodyData ? bodyData.address : userData.address  %>"  class="form-control" placeholder="enter address" name="address">
                                                                <% if (validationError.address) { %>
                                                                    <span class="text-danger"><%=validationError.address[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> mobile </label>
                                                            <input type="number" value="<%= bodyData ? bodyData.mobile : userData.mobile %>" class="form-control" placeholder="enter your mobile" name="mobile">
                                                                <% if (validationError.mobile) { %>
                                                                    <span class="text-danger"><%=validationError.mobile[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    <div class="image col-12" >
                                                        <img style="width:300px;height:300px" src="/assets/dashboard/Users/<%= userData.image.split("--")[0] %>" alt="">
                                                    </div>                                               
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput2">your photo</label>
                                                            <div class="custom-file">
                                                                <input type="hidden" value="<%= userData.image %>" name="oldImage" >
                                                                <input type="file" name="image" class="custom-file-input">
                                                                <label class="custom-file-label">Choose file</label>
                                                            </div>
                                                                <% if (validationError.image) { %>
                                                                    <span class="text-danger"><%=validationError.image[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group mt-1">
                                                            <input type="checkbox" name="active"
                                                                id="switch1"
                                                                value="1"
                                                                class="switch "
                                                                <%= userData.active ? "checked" : "" %>
                                                                />
                                                            <label
                                                                class="card-title ml-1" for="switch1">state </label>
                                                        </div>
                                                    </div>

                                                       <% if (adminData.roles == "SuperAdmin") { %>
                                                        <div class="col-md-4">
                                                        <div class="form-group mt-1">
                                                            <input type="checkbox" name="isAdmin"
                                                                id="switch2"
                                                                value="1"
                                                                class="switch"
                                                                <%=  userData.roles == "Admin" ? "checked" : "" %>

                                                                />
                                                            <label for="switch2"
                                                                class="card-title ml-1"> is admin</label>
                                                        </div>
                                                    </div>
                                                       <% } %>

                                                    <!-- <div class="col-md-4">
                                                        <div class="form-group mt-1">
                                                            <input onchange="makeVendor(event)" type="checkbox" name="isVendor"
                                                                id="switcheryColor4"
                                                                value="1"
                                                                class="switch"
                                                                />
                                                            <label for="switcheryColor4"
                                                                class="card-title ml-1"> is vendoer</label>
                                                        </div>
                                                    </div> -->

                                                </div>
                                            </div>
                                            <div class="vendor d-none ">
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="ft-home"></i> بيانات التاجر اذا اردت ادخالها </h4>

                                                <div class="row main">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> first name</label>
                                                            <input type="text" class="form-control" placeholder="enter اسم الاول" name="VendorfName">
                                                                <% if (validationError.VendorfName) { %>
                                                                    <span class="text-danger"><%=validationError.VendorfName[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> last name</label>
                                                            <input type="text" class="form-control" placeholder="enter last name" name="VendorlName">
                                                                <% if (validationError.VendorlName) { %>
                                                                    <span class="text-danger"><%=validationError.VendorlName[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> الايميل </label>
                                                            <input type="text" class="form-control" placeholder="enter الايميل الخاص بك" name="vendorEmail">
                                                                <% if (validationError.vendorEmail) { %>
                                                                    <span class="text-danger"><%=validationError.vendorEmail[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> الموبايل </label>
                                                            <input type="number" class="form-control" placeholder="enter الموبايل الخاص بك" name="vendorMobile">
                                                                <% if (validationError.vendorMobile) { %>
                                                                    <span class="text-danger"><%=validationError.vendorMobile[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> الرقم السري </label>
                                                            <input type="password" class="form-control" placeholder="enter الرقم السري" name="VendorPassword">
                                                                <% if (validationError.VendorPassword) { %>
                                                                    <span class="text-danger"><%=validationError.VendorPassword[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> الرقم السري مره اخري </label>
                                                            <input type="password" class="form-control" placeholder="enter الرقم مره اخري" name="vendoerConfirmPassword">
                                                                <% if (validationError.vendoerConfirmPassword) { %>
                                                                    <span class="text-danger"><%=validationError.vendoerConfirmPassword[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput2"> صوره التاجر </label>
                                                            <div class="custom-file">
                                                                <input type="file" name="vendoerImage" class="custom-file-input">
                                                                <label class="custom-file-label">Choose file</label>
                                                            </div>
                                                                <% if (validationError.vendoerImage) { %>
                                                                    <span class="text-danger"><%=validationError.vendoerImage[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
        
        
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput2">السجل التجاري</label>
                                                            <div class="custom-file">
                                                                <input type="file" name="CommercialRegister" class="custom-file-input" id="inputGroupFile01">
                                                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                            </div>
                                                                <% if (validationError.CommercialRegister) { %>
                                                                    <span class="text-danger"><%=validationError.CommercialRegister[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group mt-1">
                                                            <input type="checkbox" name="isActive"
                                                                value="1"
                                                                class="switchery "
                                                                />
                                                            <label
                                                                class="card-title ml-1">الحالة </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                            <button type="submit" class="btn btn-primary col-12">
                                                <i class="la la-check-square-o"></i> save
                                            </button>
                                            
                                        </form>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>

    <%- include("../includes/footer") %> 
    <%- include("../includes/footerScript") %> 
    <script>
        var vendoer = document.querySelector(".vendor")
        function makeVendor(e) {
            console.log(e.target.checked)
            if(e.target.checked) {
                var child = vendoer.cloneNode(true)
                child.classList.remove("d-none")
                document.querySelector(".main").appendChild(child)
            } else {
                document.querySelector(".vendor").remove()        
            }
        }
    </script>
</body>
</html>
