<%- include("../inclueds/head") %>

<head>
  <body>
    <%- include("../inclueds/upperNavbare.ejs") %> <%-
    include("../inclueds/lowerNavbare") %>

    <!-- //////////////////////////////////////////////////// -->
    <div class="">
      <div class="container">
        <%- include("../inclueds/notification") %>
        <div class="row">
          <div
            class="col-md-12"
            data-aos="fade-up"
            data-aos-delay=""
            data-aos-offset=""
            data-aos-duration="1500"
          >
            <div class="right p-4 mb-3">
              <form
                method="post"
                enctype="application/x-www-form-urlencoded"
                action="?_csrf=<%= csrf %>"
              >
                <div class="form-group">
                  <label for="exampleInputEmail1"
                    ><%= trans("Email") %>
                    <span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                  <% if (validationError) { %> <% if (validationError.email) {
                  %>
                  <span class="text-danger"
                    ><%=validationError.email[0].msg %></span
                  >
                  <% } %> <% } %>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                  <%= trans("resetPasswordButton") %>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <%- include("../inclueds/footer_script") %> <%-
    include("../inclueds/footer") %>
  </body>
</head>
