<%- include("../inclueds/head") %>

<head>
  <body>
    <%- include("../inclueds/upperNavbare.ejs") %> <%-
    include("../inclueds/lowerNavbare") %>

    <!-- //////////////////////////////////////////////////// -->
    <div class="">
      <div class="container">
        <%- include("../inclueds/notification") %>
        <div class="row">
          <div
            class="col-md-12"
            data-aos="fade-up"
            data-aos-delay=""
            data-aos-offset=""
            data-aos-duration="1500"
          >
            <div class="right p-4 mb-3">
              <form
                method="post"
                enctype="application/x-www-form-urlencoded"
                action="?_csrf=<%= csrf %>"
              >
                <input type="hidden" name="token" value="<%= token %>" id="" />
                <input
                  type="hidden"
                  name="userId"
                  value="<%= userId %>"
                  id=""
                />
                <div class="form-group">
                  <label for="password2"
                    ><%= trans("Password") %>
                    <span class="text-danger">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password2"
                    aria-describedby="emailHelp"
                  />
                  <% if (validationError) { %> <% if (validationError.password)
                  { %>
                  <span class="text-danger"
                    ><%=validationError.password[0].msg %></span
                  >
                  <% } %> <% } %>
                </div>

                <div class="form-group">
                  <label for="password3"
                    ><%= trans("confirmPassword") %>
                    <span class="text-danger">*</span></label
                  >
                  <input
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    id="password3"
                    aria-describedby="emailHelp"
                  />
                  <% if (validationError) { %> <% if
                  (validationError.confirmPassword) { %>
                  <span class="text-danger"
                    ><%=validationError.confirmPassword[0].msg %></span
                  >
                  <% } %> <% } %>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                  <%= trans("updatePassword") %>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <%- include("../inclueds/footer_script") %> <%-
    include("../inclueds/footer") %>
  </body>
</head>
