<%- include("../inclueds/head")  %>
</head>
<body>
<%- include("../inclueds/upperNavbare")  %> 
<%- include("../inclueds/lowerNavbare")  %> 
<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->


<% if (allCatigory.length > 0) { %>
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">All Categories</span></h2>
        <div class="row px-xl-5 pb-3">
            <% allCatigory.forEach(element => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none latestCategoryLink" href="/all-products?category=<%= element["slug_" + lang] %>">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img style="width:100%;height:100%" class="img-fluid" src="/assets/dashboard/Categorys/<%= element.image.split("--")[0] %>" alt="">
                        </div>
                        <div class="flex-fill pl-3">
                            <h6><%= element["category_" + lang] %></h6>
                            <small class="text-body"><%= element.products.length %> products</small>
                        </div>
                    </div>
                </a>
            </div>
            <% }) %>

        </div>
        <div class="pagination row px-xl-5">
            <div class="col-md-4">
                    <div class="dataTables_info">Showing <%=  (curantPage - 1) * elements %> to <%=  ((curantPage - 1) * elements) + elements %> of <%= allElementCount %> entries</div>
            </div>
            <div class="col-md-4 dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                    <% if ((hasPrevious || hasNext)) { %>
                    <ul style="margin:0 ;justify-content: center;" class=" pagination">
                        <% if (curantPage != 1) { %>
                        <li id="DataTables_Table_0_previous" class="paginate_button page-item previous"><a class="page-link" href="?page=<%= curantPage - 1 %>">Previous</a></li>
                        <% } %>
                        <% if (curantPage != 1 &&  curantPage - 1 != 1) { %> 
                            <li id="" class="paginate_button page-item "><a class="page-link" href="?page=<%= 1 %>">1</a></li>
                        <% } %>
                        <% if (hasPrevious) { %>
                            <li class="paginate_button page-item "><a class="page-link" href="?page=<%= curantPage - 1 %>"><%= curantPage - 1 %></a></li>
                        <% } %>
                        <li id="" class="paginate_button page-item active"><a class="page-link" href="?page=<%= curantPage %>"><%= curantPage %></a></li>
                        <% if (hasNext) { %>
                        <li id="" class="paginate_button page-item "><a class="page-link" href="?page=<%= curantPage + 1 %>"><%= curantPage + 1 %></a></li>
                        <% } %>
                        <% if (curantPage !=  lastPage &&  curantPage + 1 != lastPage) { %>
                        <li id="" class="paginate_button page-item "><a class="page-link" href="?page=<%= lastPage %>"><%= lastPage %></a></li>
                        <% } %>
                        <% if (curantPage != lastPage) { %>
                        <li id="DataTables_Table_0_next" class="paginate_button page-item next"><a class="page-link" href="?page=<%= curantPage + 1 %>">Next</a></li>  
                        <% } %>

                    </ul>
                    <%}%>
            </div>
        </div>
</div>
 
<% } else { %>
    <div class="container">
        <div class="alert alert-danger" style="background:#f8cb27;text-align: center;text-transform: capitalize;">there is no categorys</div>
    </div>
<% } %>


<!-- <div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div> -->
<%- include("../inclueds/footer")  %>
<%- include("../inclueds/footer_script")  %>

</body>
    