
<%- include("../inclueds/head")  %>

</head>
<body>
<%- include("../inclueds/upperNavbare")  %> 
<%- include("../inclueds/lowerNavbare")  %> 
<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <!-- Shop Start -->
    <div class="container-fluid allProductsPage">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4" data-aos="fade-left"
                    data-aos-delay=""
                    data-aos-offset=""
                    data-aos-duration="1200">
                <!-- Price Start -->
                <h5  class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= trans("FILTERBYCATEGORY") %></span></h5>
                <div class="bg-light p-4 mb-30">
                    <div class="category"> 
                        <div class="custom-control custom-checkbox  mb-3">
                            <label > <%= trans("SearchWithCategory") %></label>
                            <select name="category" class="form-controle" id="">
                                <option value=""><%= trans("ALLCATEGORIES") %></option>
                                <% allCategorys.forEach(element => { %>
                                    <option <%=  Query.category == element["slug_" + lang] ? "selected"  : "" %> value="<%= element["slug_" + lang] %>"><%= element["category_" + lang] %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="custom-control custom-checkbox  mb-3">
                            <label ><%= trans("SearchwithProduct") %></label>
                            <input value="<%= Query.products %>" type="text" class="form-controle" placeholder="<%= trans("productName") %>" name="productName" id="">
                        </div>

                    </div>
                </div>
                <!-- Price End -->
                <!-- Price Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= trans("FILTERBYPRICE") %></span></h5>
                <div class="bg-light p-4 mb-30">
                    <div class="price"> 
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="price" <%= !Query.priceMin && !Query.priceMax ? "checked" : "" %> class="custom-control-input" min="" max=""  id="price-all">
                            <label class="custom-control-label" for="price-all"><%= trans("AllPrice") %></label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio"  name="price" <%=  Query.priceMin == "0" && Query.priceMax == "2000" ? "checked" : "" %> class="custom-control-input" min="0" max="2000" id="price-1">
                            <label class="custom-control-label" for="price-1">0Eg - 2000Eg</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio"  name="price" <%=  Query.priceMin == "2000" && Query.priceMax == "4000" ? "checked" : "" %> class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2" min="2000" max="4000">2000Eg - 4000Eg</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="price" <%=  Query.priceMin == "4000" && Query.priceMax == "6000" ? "checked" : "" %> class="custom-control-input" min="4000" max="6000" id="price-3">
                            <label class="custom-control-label" for="price-3">4000Eg - 6000Eg</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio"  name="price" <%=  Query.priceMin == "6000" && Query.priceMax == "8000" ? "checked" : "" %> class="custom-control-input" min="6000" max="8000" id="price-4">
                            <label class="custom-control-label" for="price-4">6000Eg - 8000Eg</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="radio" name="price" <%=  Query.priceMin == "8000" && Query.priceMax == "10000" ? "checked" : "" %> name="" class="custom-control-input" min="8000" max="10000" id="price-5">
                            <label class="custom-control-label" for="price-5">8000Eg - 10000Eg</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center" style="padding:10px 0 !important">
                            <input style="width:25%" type="number" value="<%= Query.priceMin %>" placeholder="<%= trans("min") %>" min="custom" class="form-controle" >
                            <input style="width:25%;margin:0 10px" value="<%= Query.priceMax %>" type="number" max="custom" placeholder="<%= trans("max") %>" class="form-controle" >
                        </div>
                    </div>
                </div>
                <!-- Price End -->
                
                <!-- Color Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= trans("FILTERBYRATE") %></span></h5>
                <div class="bg-light p-4 mb-30">
                    <form class="rate"> 
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="rate" <%=  Query.rate == "5" ? "checked" : "" %> data-attr="5" class="custom-control-input" id="rate5">
                            <label class="custom-control-label" for="rate5">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small> 
                            </label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="rate" <%=  Query.rate == "4" ? "checked" : "" %>  data-attr="4" class="custom-control-input" id="color-1">
                            <label class="custom-control-label" for="color-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1 "></small>                            
                            </label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="rate" <%=  Query.rate == "3" ? "checked" : "" %> class="custom-control-input "  data-attr="3" id="color-2">
                            <label class="custom-control-label" for="color-2">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1 "></small>
                                <small class="far fa-star text-primary mr-1 "></small>
                            </label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="rate" <%=  Query.rate == "2" ? "checked" : "" %> class="custom-control-input"  data-attr="2" id="color-3">
                            <label class="custom-control-label" for="color-3">                                
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                            </label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" name="rate" <%=  Query.rate == "1" ? "checked" : "" %> class="custom-control-input"  data-attr="1" id="color-4">
                            <label class="custom-control-label" for="color-4">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                                <small class="far fa-star text-primary mr-1"></small>
                            </label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= trans("FILTERBYDESCOUNT") %></span></h5>
                <div class="bg-light p-4 mb-30">
                    <form class="descount">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" <%=  Query.descount == "true" ? "checked" : "" %>  name="descount" data-attr="true" class="custom-control-input" id="size-all">
                            <label class="custom-control-label" for="size-all"><%= trans("WithDescount") %></label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio"  <%=  Query.descount == "false" ? "checked" : "" %> name="descount" data-attr="false" class="custom-control-input" id="size-1">
                            <label class="custom-control-label" for="size-1"><%= trans("WithoutDescount") %></label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
 
                    </form>
                </div>
                <!-- Size End -->
                <!-- Size Start -->
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= trans("FILTERBYSHIPPING") %></span></h5>
                <div class="bg-light p-4 mb-30">
                    <form class="shipping">
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" <%=  Query.shipping == "true" ? "checked" : "" %> name="shipping1" data-attr="true" class="custom-control-input"  id="shipping1">
                            <label class="custom-control-label" for="shipping1"><%= trans("WithShipping") %></label>
                            <span class="badge border font-weight-normal">1000</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="radio" <%=  Query.shipping == "false" ? "checked" : "" %> name="shipping1" data-attr="false" class="custom-control-input" id="shipping2">
                            <label class="custom-control-label" for="shipping2"><%= trans("WithoutShipping") %></label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
 
                    </form>
                </div>
                <button class="btn btn-block btn-primary searchFilter"><%= trans("search") %></button>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8" >
                <div class="row pb-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <select name="" id="" class="filter2" style="width:140px;height:30px">
                                        <option value=""><%= trans("sorting") %></option>
                                        <option <%= Query.sort ? (Query.sort.indexOf("sumRate,asc") != -1 ? "selected" : "") : "" %> value="sumRate,asc"><%= trans("rateUp") %></option>
                                        <option <%= Query.sort ? (Query.sort.indexOf("sumRate,desc") != -1 ? "selected" : "") : "" %> value="sumRate,desc"><%= trans("rateDown") %></option>
                                        <option <%= Query.sort ? (Query.sort.indexOf("price,asc") != -1 ? "selected" : "") : "" %> value="price,asc"><%= trans("priceUp") %></option>
                                        <option <%= Query.sort ? (Query.sort.indexOf("price,desc") != -1 ? "selected" : "") : "" %> value="price,desc"><%= trans("priceDown") %></option>
                                        <option <%= Query.sort ? (Query.sort.indexOf("createdAt,desc") != -1 ? "selected" : "") : "" %> value="createdAt,desc"><%= trans("lastProducts") %></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-xl-5 pb-3 col-12">                    
                        <%- include("../inclueds/notification.ejs")  %> 
                    </div>
                    <% if (allProducts.length > 0) { %>
                    <!-- Categories Start -->
                        <div class="container-fluid">
                            <h2 data-aos="fade-right"
                            data-aos-delay=""
                            data-aos-offset=""
                            data-aos-duration="1200" class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3"><%= trans("ALLPRODUCTS") %></span></h2>
                            <div class="row pb-3">
                                <% allProducts.forEach(element => { %>
                                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1" data-aos="fade-up"
                                        data-aos-delay=""
                                        data-aos-offset=""
                                        data-aos-duration="1200">
                                        <div class="product-item bg-light mb-4">
                                            <div class="product-img position-relative overflow-hidden">
                                                <img class="img-fluid w-100" src="/assets/dashboard/Products/<%= element.productImage.split("--")[0] %>" alt="">
                                                <div class="product-action">
                                                    <a data_attr="<%= element.id %>" class="btn btn-outline-dark btn-square addUserCart <%= shopingCart.includes(element.id) ? "active" : ""%>" href=""><i class="fa fa-shopping-cart"></i></a>
                                                    <a data_attr="<%= element.id %>" class="btn btn-outline-dark btn-square addToFavorit <%= favoritProducts.includes(element.id) ? "active" : ""%>" href=""><i class="far fa-heart"></i></a>
                                                    <a class="btn btn-outline-dark btn-square" href="/product-Details/<%= element["slug_" + lang] %>"><i class="fa fa-search"></i></a>
                                                </div>
                                            </div>
                                            <div class="text-center py-4">
                                                <a class="h6 text-decoration-none text-truncate" href="/product-Details/<%= element["slug_" + lang] %>"><%= element["productName_" + lang] %></a>
                                                <div class="d-flex align-items-center justify-content-center mt-2">
                                                <h5><%= element.price  %> <%= trans("Eg") %></h5><h6 class="text-muted ml-2"><% if (element.descount) { %>
                                                    <del><%= element.price - ((element.descount * element.price) / 100) %> <%= trans("Eg") %></del>
                                                <% } %></h6>                                                
                                            </div>
                                                <div class="d-flex align-items-center text-primary justify-content-center mb-1">
                                                <% [1,2,3,4,5].forEach(ele => { %>
                                                    <i class="<%= element.sumRate >= ele ? "fas" : "far" %> fa-star"></i>
                                                <% }) %>
                                                <small>(<%= element.allRate.length %>)</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>

                            </div>
                            <%- include("../inclueds/pafination.ejs")  %>
                    </div>
                    
                    <% } else { %>
                        <div class="container">
                            <div class="alert alert-danger" style="background:#f8cb27;text-align: center;text-transform: capitalize;"><%= trans("noProducts") %></div>
                        </div>
                    <% } %>


                  
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->




<!-- <div class="col-12">
    <nav>
        <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div> -->
<%- include("../inclueds/footer")  %>
<script>
    const searchFilter = document.querySelector(".searchFilter")
    const filterWithCategoryAndProduct = document.querySelector(".category")
    const filterWithPrice = document.querySelector(".price")
    const filterWithRate = document.querySelector(".rate")
    const filterWithDescount = document.querySelector(".descount")
    const filterWithshipping = document.querySelector(".shipping")
    let Query = ""
    searchFilter.onclick = function() {
        Filtaring()
        const sort = document.querySelector(".filter2")
        let sortQuery = ""
        if(sort.value) {
            sortQuery = "&sort="  + sort.value
        }
        window.location.href = window.location.origin + window.location.pathname + Query + sortQuery
    }

    function Filtaring() {
        filterCategoryProductFn()
        filterPriceFn()
        filterRateFn()
        filterDescountFn()
        filtershippingFn()
    }
    // ============================ start filter PriceFn =========================================
    function filterCategoryProductFn () {
        const children = filterWithCategoryAndProduct.children   
        const selectValue = children[0].querySelector("select").value   
        const inputValue = children[1].querySelector("input").value  
        if(selectValue) {
            Query += Query ? `&category=${selectValue}` : `?category=${selectValue}`
        }     
        if(inputValue) {
            Query += Query ? `&products=${inputValue}` : `?products=${inputValue}`
        }     
    }
    // ============================ start filter PriceFn =========================================
    function filterPriceFn () {
        let isChecked = false
        let min = 0
        let max = 0
        const children = filterWithPrice.querySelectorAll("input[type=radio]")   
        const customPriceDiv =  filterWithPrice.lastElementChild
        const customInputMin = customPriceDiv.querySelectorAll("input")[0].value
        const customInputMax = customPriceDiv.querySelectorAll("input")[1].value
        children.forEach(element => {
            if(element.checked && !customInputMax && !customInputMin) {
                min = element.getAttribute("min")
                max = element.getAttribute("max")
                isChecked = true
                if(min || max) {
                    Query += Query ? `&priceMin=${min}&priceMax=${max}` : `?priceMin=${min}&priceMax=${max}`
                }
            }
        });
        if(!isChecked) {
            if(customInputMin && customInputMax) {
                Query += Query ? `&priceMin=${customInputMin}&priceMax=${customInputMax}` : `?priceMin=${customInputMin}&priceMax=${customInputMax}`
            } else if(customInputMin && !customInputMax) {
                Query += Query ? `&priceMin=${customInputMin}` : `?priceMin=${customInputMin}`
            } else if(!customInputMin && customInputMax) {
                Query += Query ? `&priceMax=${customInputMax}` : `?&priceMax=${customInputMax}`
            }
        }
    }
    // ============================ start filter PriceFn =========================================
    // ============================ start rate fun =========================================
    function filterRateFn () {
        
        const children = filterWithRate.querySelectorAll("input[type=radio]")   
        children.forEach(element => {
            const rate = element.getAttribute("data-attr")
            if(element.checked) {
                Query += Query ? `&rate=${rate}` : `?rate=${rate}`
            }
        });

    }
    // ============================ end rate fun =========================================
    // ============================ start descount fun =========================================
    function filterDescountFn () {
        const children = filterWithDescount.querySelectorAll("input[type=radio]")   
        children.forEach(element => {
            const descount = element.getAttribute("data-attr")
            if(element.checked) {
                Query += Query ? `&descount=${descount}` : `?descount=${descount}`
            }
        });

    }
    // ============================ end descount fun =========================================
    // ============================ start shipping fun =========================================
    function filtershippingFn () {
        const children = filterWithshipping.querySelectorAll("input[type=radio]")   
        children.forEach(element => {
            const shipping = element.getAttribute("data-attr")
            if(element.checked) {
                Query += Query ? `&shipping=${shipping}` : `?shipping=${shipping}`
            }
        });

    }
    // ============================ end shipping fun =========================================

    // ============================ start filter2 fun =========================================
    const filter2 = document.querySelector(".filter2")
    
        filter2.onchange = (e) => {
            e.preventDefault()
             Query = ""
            Filtaring()
            if(e.target.value) {
                Query += Query ? `&sort=${e.target.value}` : `?sort=${e.target.value}`
            }
            window.location.href =  window.location.origin + window.location.pathname + Query
        }
    // ============================ end filter2 fun =========================================

</script>
<%- include("../inclueds/footer_script")  %>
<script src="/public/website/js/sweetalert.min.js"></script>
<script>
    const addToFavorit = document.querySelectorAll(".addToFavorit")
    const UserFavorit = document.querySelector(".UserFavorit")
    const UserCart = document.querySelector(".UserCart")
    const addUserCart = document.querySelectorAll(".addUserCart")
    addUserCart.forEach(ele => {
        ele.onclick = (e) => {
            e.preventDefault()
            const userData = '<%= userData %>'
            if(!userData) {
                window.location.href = window.location.origin + "/signIn"
                return
            }
            const productId = ele.getAttribute("data_attr")
            ele.classList.toggle("active")
                $.ajax({
                url : "/add-to-shoping-cart?_csrf=" + '<%= csrf %>',
                method:"post",
                data : {
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId,
                    count:1,
                },
                success(data) {
                    if(data.status) {
                        if(ele.classList.contains("active")){
                            UserCart.innerHTML = +UserCart.innerHTML + 1
                        } else {
                            UserCart.innerHTML = +UserCart.innerHTML - 1
                        }
                        Swal.fire({
                            icon: 'success',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })                    
                    }
                },
                error(error){
                    Swal.fire({
                            icon: 'error',
                            title:"505 error",
                            showConfirmButton: false,
                            timer: 2500
                        })                
                    }
            })
        }
    })
   


    addToFavorit.forEach(ele => {
        ele.onclick = (e) => {
            e.preventDefault()
            const userData = '<%= userData %>'
            if(!userData) {
                window.location.href = window.location.origin + "/signIn"
                return
            }
            const productId = ele.getAttribute("data_attr")
            ele.classList.toggle("active")
                $.ajax({
                url : "/add-to-favorit-cart?_csrf=" + '<%= csrf %>',
                method:"post",
                data : {
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId, 
                },
                success(data) {
                    if(data.status) {
                        if(ele.classList.contains("active")){
                            UserFavorit.innerHTML = +UserFavorit.innerHTML + 1
                        } else {
                            UserFavorit.innerHTML = +UserFavorit.innerHTML - 1
                        }
                        Swal.fire({
                            icon: 'success',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })                    
                    }
                },
                error(error){
                    Swal.fire({
                            icon: 'error',
                            title:"505 error",
                            showConfirmButton: false,
                            timer: 2500
                        })                
                    }
            })
        }
    })
   
</script>
</body>
    