
<%- include("../inclueds/head")  %>
</head>
<body>
<%- include("../inclueds/upperNavbare")  %> 
<%- include("../inclueds/lowerNavbare")  %> 
<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <!-- Breadcrumb Start -->
    <div class="container-fluid" 
        data-aos="zoom-in"
        data-aos-delay=""
        data-aos-offset=""
        data-aos-duration="1500" >
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/home"><%= trans("home") %></a>
                    <a class="breadcrumb-item text-dark" href="/all-products"><%= trans("products") %></a>
                    <span class="breadcrumb-item active"><%= trans("ShopDetail") %></span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30" 
                data-aos="fade-left"
                data-aos-delay=""
                data-aos-offset=""
                data-aos-duration="1500" >
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <% product.productImage.split("--").forEach((element , index) => { %>
                            <% if (element != "") { %>
                             <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                                <img style="width:100% !important;aspect-ratio:1/1" class="w-100 " src="/assets/dashboard/Products/<%= element %>" alt="Image">
                            </div>     
                            <% } %>                   
                        <% }) %>     
                                   
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
                <button type="button" style="width:100%;outline:0;border:1px solid #ddd;padding:4px 10px" class=" d-block" data-toggle="modal" data-target="#exampleModal">
                    <%= trans("moreToDescription") %>
                </button>
                <small style="text-align: center;text-transform: capitalize;display: block;">
                    <%= trans("onlyDisplay") %>
                </small>
                <!-- Modal -->
                <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width:58%" role="document">
                    <div class="modal-content" style="max-width:100%">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                            <div class="modal-body">
                                    
                                <div id="carouselExampleIndicators" class="carousel slide col-12 " style="height:100%" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <% product.descriptionImage.split("--").forEach((element , i) => { %>
                                            <% if (i < product.descriptionImage.split("--").length - 1) { %>
                                                <div class="carousel-item <%= i == 0 ? "active" : "" %>">
                                                    <img style="width:100%;height:400px" src="/assets/dashboard/products/<%= element %>" class="img-fluid mb-3" alt="0" />
                                                </div>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only"><%= trans("Previous") %></span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only"><%= trans("next") %></span>
                                    </a>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= trans("close") %></button>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>

            <div class="col-lg-7 h-auto mb-30"
                data-aos="fade-right"
                data-aos-delay=""
                data-aos-offset=""
                data-aos-duration="1500" >
                <div class="h-100 bg-light p-30 headDescription">
                    <h3><%= product["productName_" + lang] %> ( <small><%= product.ProductCategory["category_" + lang] %></small> )</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                           <% [1,2,3,4,5].forEach(ele => { %>
                             <small class="<%= product.sumRate >=  ele  ? 'fas' : 'far' %> fa-star"></small>
                           <% }) %>
                        </div>
                        <small class="pt-1">(<%= product.allRate.length %>)</small>
                    </div>
                    <h5> <% if (product.descount) { %>
                            <del><%= product.price  %> <%= trans("Eg") %></del>
                    <% } %> <%= product.price - ((product.descount * product.price) / 100) %> <%= trans("Eg") %></h5>      
                    <ul class="list-unstyled d-flex flex-wrap">
                        <li style="width:100%"><span><%= trans("Descount") %> : </span><span><%= product.descount ? product.descount + "%" : trans("no") %></span></li>
                        <li style="width:100%"><span><%= trans("Structure") %> : </span><span><%= product.structure ? product.structure + trans("Eg") : trans("no") %></span></li>
                        <li style="width:100%"><span><%= trans("Shipping") %>  : </span><span><%= product.shipping ? product.shipping + trans("Eg") : trans("no") %></span></li>
                    </ul>
                    <p class="mb-4 " style="padding:10px;background:#eee;border:1px solid #ddd"><%= product["productOverview_" + lang] %></p>

                    <ul class=" fulldescription  row">
                        <% product["statmentDescription_" + lang].split(",").forEach(element => { %>
                            <li class="col-6"><span><%= element %></span></li>
                        <% }) %>
                    </ul>
                    <button class="readMore"><%= trans("readMore") %></button>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <button class="btn btn-primary addCount btn-minus">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input oninput="changeCountByInput(event)" data_attr="<%= product.id %>" type="text" class="form-control bg-secondary border-0 text-center" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-primary addCount btn-plus">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <button onclick="changeCountByButton('<%= product.id %>')" class="btn btn-primary px-3" style="flex-grow:1"><i class="fa fa-shopping-cart mr-1"></i><%= trans("addToCartButton") %></button>
                    </div>
                    <div class="sharButtons d-flex">
                        <div class="share-btn">
                        <a class="btn-facebook" data-id="fb" 
                        data-title="<%= product["productName_" + lang] %>"
                        data-image="/assets/dashboard/Products/<%= product.productImage.split("--")[0]%>"
                        data-description="<%- product["productOverview_" + lang] %>"
                        ><i class="fab fa-facebook-f"></i
                        ></a>
                        <a class="btn-whatsapp" data-id="wa" 
                        data-title="<%= product["productName_" + lang] %>"
                        data-image="/assets/dashboard/Products/<%= product.productImage.split("--")[0]%>"
                        data-description="<%- product["productOverview_" + lang] %>"
                        ><i class="fab fa-whatsapp"></i></a>
                        <a class="btn-twitter" data-id="tw"
                        data-title="<%= product["productName_" + lang] %>"
                        data-image="/assets/dashboard/Products/<%= product.productImage.split("--")[0]%>"
                        data-description="<%- product["productOverview_" + lang] %>"                    
                        ><i class="fab fa-twitter"></i
                        ></a>
                        <a class="btn-telegram" data-id="tg"
                        data-title="<%= product["productName_" + lang] %>"
                        data-image="/assets/dashboard/Products/<%= product.productImage.split("--")[0]%>"
                        data-description="<%- product["productOverview_" + lang] %>"                    
                        ><i class="fab fa-telegram-plane"></i
                        ></a>
                        <a class="btn-mail" data-id="mail"
                        data-title="<%= product["productName_" + lang] %>"
                        data-image="/assets/dashboard/Products/<%= product.productImage.split("--")[0]%>"
                        data-description="<%- product["productOverview_" + lang] %>"                    
                        ><i class="fab fa-google-plus"></i
                        ></a>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="row px-xl-5"     
        data-aos="fade-up"
        data-aos-delay=""
        data-aos-offset=""
        data-aos-duration="1500">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1"><%= trans("Description") %></a>
                        <% if (product.video) { %>
                         <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2"><%= trans("video") %></a>
                        <% } %>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3"><%= trans("Reviews") %> ( <span class="numberOfComments"><%= allComments.count %></span> )</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3"><%= trans("ProductDescription") %></h4>
                            <%- product["fullDescription_" + lang] %>
                        </div>
                        <% if (product.video) { %>
                         <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3"><%= trans("ProductVideo") %></h4>
                            
                        </div>
                        <% } %>
                        
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="someOfComments">
                                        <h4 class="mb-4"><span class="numberOfComments"><%= allComments.count %></span> <%= trans("ReviewFor") %> "<%= product["productName_" + lang] %>"</h4>
                                       
                                        <% product.allComments.forEach(element => { %>
                                            <div class="media mb-4">
                                                <img src="/assets/dashboard/Users/<%= element.commentUser.image.split("--")[0] %>" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                                <div class="media-body">
                                                    <h6><%= element.commentUser.fName + " " + element.commentUser.lName %><small> - <i><%= (new Date(element.commentUser.createdAt).getDay() + 1) + " / " + (new Date(element.commentUser.createdAt).getMonth() + 2)  + " / " + new Date(element.commentUser.createdAt).getFullYear()  %></i></small></h6>
                                                    <p><%= element.comment %></p>
                                                </div>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <a href="/all-comments/<%= product["slug_" + lang] %>" class="btn btn-block btn-primary">All Commnts</a>
                                </div>
                                <div class="col-md-6">
                                <% if (userData) { %>
                                        <h4 class="mb-4"><%= trans("LeaveReview") %></h4>
                                        <small><%= trans("addRateOnce") %> *</small>
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2"><%= userRate ? trans("yourRate") : trans("addYourRate") %> * :</p>
                                            <div class="text-primary productRate">
                                                <% [1,2,3,4,5].forEach(element => { %>
                                                <i class="<%= userRate ? (userRate.rate >= element ? "fas" : "far") : "far" %> fa-star"></i>
                                                <% }) %>
                                            </div>
                                        </div>
                                        <form>
                                            <div class="form-group addComment">
                                                <label for="message"><%= trans("yourReview") %> *</label>
                                                <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                            </div>
                                            <div class="g-recaptcha mb-2" data-sitekey="<%= secretKey %>"></div>
                                            <div class="form-group mb-0 ">
                                                <input type="submit" value="<%= trans("LeaveReview") %>" class="btn btn-primary px-3 addCommentInput">
                                            </div>
                                        </form>
                                <% } else { %>
                                    <a href="/signIn" class="btn btn-success d-block"><%= trans("signIn") %></a>
                                <% } %>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <% if (productRelated.length != 0) { %>
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <h2     
        data-aos="fade-right"
        data-aos-delay=""
        data-aos-offset=""
        data-aos-duration="1500" class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3"><%= trans("YOUMAYLIKE") %></span></h2>
        <div class="row px-xl-5"     
        data-aos="fade-left"
        data-aos-delay=""
        data-aos-offset=""
        data-aos-duration="1500">
            <div class="col">
                <div class="owl-carousel related-carousel">
                    <% productRelated.forEach(element => { %>
                    <div class="product-item bg-light">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="/assets/dashboard/Products/<%= element.productImage.split("--")[0]%>" alt="">
                            <div class="product-action">
                                <a data_attr="<%= element.id %>" class="btn btn-outline-dark btn-square addUserCart <%= shopingCart.includes(element.id) ? "active" : ""%>" href=""><i class="fa fa-shopping-cart"></i></a>
                                <a data_attr="<%= element.id %>" class="btn btn-outline-dark btn-square addToFavorit <%= favoritProducts.includes(element.id) ? "active" : ""%>" href=""><i class="far fa-heart"></i></a>
                                <a class="btn btn-outline-dark btn-square" href="/product-Details/<%= element["slug_" + lang] %>"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <a class="h6 text-decoration-none text-truncate" href=""><%= element["productName_" + lang] %></a>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5><%= element.price  %> <%= trans("Eg") %></h5><h6 class="text-muted ml-2"><% if (element.descount) { %>
                                <del><%= element.price - ((element.descount * element.price) / 100) %> <%= trans("Eg") %></del>
                                <% } %></h6>
                            </div>
                            <div class="d-flex text-primary align-items-center justify-content-center mb-1">
                                <% [1,2,3,4,5].forEach(ele => { %>
                                <small class="<%= element.sumRate >=  ele  ? 'fas' : 'far' %> fa-star"></small>
                                <% }) %>
                                <small>(<%= element.allRate.length %>)</small>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    </div>
    <!-- Products End -->
    <% } %>



<%- include("../inclueds/footer")  %>
<%- include("../inclueds/footer_script")  %>
<script src="/public/website/js/buttons.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/public/website/js/sweetalert.min.js"></script>
<script>
    const addToFavorit = document.querySelectorAll(".addToFavorit")
    const UserFavorit = document.querySelector(".UserFavorit")
    const UserCart = document.querySelector(".UserCart")
    const addUserCart = document.querySelectorAll(".addUserCart")
    addUserCart.forEach(ele => {
        ele.onclick = (e) => {
            e.preventDefault()
            const userData = '<%= userData %>'
            if(!userData) {
                window.location.href = window.location.origin + "/signIn"
                return
            }
            const productId = ele.getAttribute("data_attr")
            ele.classList.toggle("active")
                $.ajax({
                url : "/add-to-shoping-cart?_csrf=" + '<%= csrf %>',
                method:"post",
                data : {
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId,
                    count:1,
                },
                success(data) {
                    if(data.status) {
                        if(ele.classList.contains("active")){
                            UserCart.innerHTML = +UserCart.innerHTML + 1
                        } else {
                            UserCart.innerHTML = +UserCart.innerHTML - 1
                        }
                        Swal.fire({
                            icon: 'success',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })                    
                    }
                },
                error(error){
                    Swal.fire({
                            icon: 'error',
                            title:error,
                            showConfirmButton: false,
                            timer: 2500
                        })                
                    }
            })
        }
    })
   
    addToFavorit.forEach(ele => {
        ele.onclick = (e) => {
            e.preventDefault()
            const userData = '<%= userData %>'
            if(!userData) {
                window.location.href = window.location.origin + "/signIn"
                return
            }
            const productId = ele.getAttribute("data_attr")
            ele.classList.toggle("active")
                $.ajax({
                url : "/add-to-favorit-cart?_csrf=" + '<%= csrf %>',
                method:"post",
                data : {
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId, 
                },
                success(data) {
                    if(data.status) {
                        if(ele.classList.contains("active")){
                            UserFavorit.innerHTML = +UserFavorit.innerHTML + 1
                        } else {
                            UserFavorit.innerHTML = +UserFavorit.innerHTML - 1
                        }
                        Swal.fire({
                            icon: 'success',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })                    
                    }
                },
                error(error){
                    Swal.fire({
                            icon: 'error',
                            title:"505 error",
                            showConfirmButton: false,
                            timer: 2500
                        })                
                    }
            })
        }
    })
   
</script>
<script>
    var readMore = document.querySelector(".readMore");
    var fulldescription = document.querySelector(".fulldescription")
    readMore.onclick = () => {
        if(fulldescription.classList.contains("active")) {
            readMore.innerHTML = '<%= trans("ReadMore") %>'
            fulldescription.classList.remove("active")
        } else {
            readMore.innerHTML = '<%= trans("ReadLess") %>'
            fulldescription.classList.add("active")        
        }
    }
</script>
<!-- create comment -->
<script>
    const someOfComments = document.querySelector(".someOfComments")
    const addComment = document.querySelector(".addComment")
    const productRate = document.querySelectorAll(".productRate i")
    const addCommentInput = addComment.querySelector("textarea")
    const addCommentButton = document.querySelector(".addCommentInput")
    const numberOfComments = document.querySelectorAll(".numberOfComments")
    addCommentButton.onclick = function(e) {
        e.preventDefault()
        if(addCommentInput.value == "") {
            Swal.fire({
                icon: 'error',
                title: 'enter your comment first',
                showConfirmButton: false,
                timer: 2500
            })
        } else {
             const captcha = document.querySelector(".g-recaptcha-response").value
            $.ajax({
                url : "/dashboard/comments/create?_csrf="+'<%= csrf %>',
                method:"post",
                data : {
                    comment : addCommentInput.value, 
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId : '<%= product.id %>', 
                    captcha
                },
                success(data) {
                    if(data.status) {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                        const comment = `
                                <div class="media mb-4 ">
                                    <img src="${data.userData.image ? "/assets/dashboard/Users/" + data.userData.image.split("--")[0] : "/assets/dashboard/defaultImages/avatar.png"}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    <div class="media-body">
                                        <h6>${ data.userData.fName + " " + data.userData.lName }<small> - <i>${ (new Date().getDay() + 1) + " / " + (new Date().getMonth() + 2)  + " / " + new Date().getFullYear()  }</i></small></h6>
                                        <p>${addCommentInput.value}</p>
                                    </div>
                                </div>`
                                someOfComments.innerHTML += comment
                                numberOfComments.forEach(ele => {
                                    ele.innerHTML = (Number(ele.innerHTML) + 1)
                                })
                        addCommentInput.value = ""

                    } else {
                       Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    }
                },
                error(error){
                    Swal.fire({
                        icon: 'error',
                        title:error,
                        showConfirmButton: false,
                        timer: 2500
                    })                
                }
            })
        }
    }
    productRate.forEach((ele , index) => {
        ele.onmouseover = function() {
         
            productRate.forEach((element , i) => {
                if(i <= index) {
                    element.className = "fa fa-star"
                } else {
                    element.className = "far fa-star"
                }
            })
        }
        ele.onclick = function() {
            $.ajax({
                url : "/dashboard/comments/addRate?_csrf=" + '<%= csrf %>',
                method:"post",
                data : {
                    rate : index + 1,
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId : '<%= product.id %>', 
                },
                success(data) {
                    if(data.status) {
                        Swal.fire({
                            icon: 'success',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })                    
                    }
                },
                error(error){
                    Swal.fire({
                            icon: 'error',
                            title:"505 error",
                            showConfirmButton: false,
                            timer: 2500
                        })                
                    }
            })
        }
 
    })
</script>


<script>
    // change product count in cart
    function changeCountByButton(productId , operation) {
        const input = document.querySelector(`[data_attr='${productId}']`)
        sendAjaxCall(productId , input.value)
    } 
    
    function changeCountByInput(e) {
        const count = e.target.value
        if(!count || count == 0) return
        sendAjaxCall(e.target.getAttribute("data_attr") , count)
    } 
 function sendAjaxCall(productId , count) {
    $.ajax({
        url : "/shoping-cart-count?_csrf=" + '<%= csrf %>',
        method:"post",
        data : {
            userId : '<%= userData ? userData.id : 0 %>',
            productId,
            count:count,
        },
        success(data) {
            if(data.status) {
                Swal.fire({
                    icon: 'success',
                    title:data.message,
                    showConfirmButton: false,
                    timer: 2500
                })
              if(data.isCreate) {
                UserCart.innerHTML = +UserCart.innerHTML + 1
                } 
              
            } else {
                Swal.fire({
                    icon: 'error',
                    title:data.message,
                    showConfirmButton: false,
                    timer: 2500
                })                    
            }
        },
        error(error){
            Swal.fire({
                    icon: 'error',
                    title:"505 error",
                    showConfirmButton: false,
                    timer: 2500
                })                
            }
        })
 }

</script>
</body>
    