
<%- include("../inclueds/head")  %>
</head>
<body>
<%- include("../inclueds/upperNavbare")  %> 
<%- include("../inclueds/lowerNavbare")  %> 
<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12"  
                    data-aos="fade-left"
                    data-aos-delay=""
                    data-aos-offset=""
                    data-aos-duration="1500">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/home"><%= trans("home") %></a>
                    <a class="breadcrumb-item text-dark" href="/all-products"><%= trans("products") %></a>
                    <span class="breadcrumb-item active"><%= trans("shopingCart") %></span>
                </nav>
                <%- include("../inclueds/notification.ejs") %> 
            </div>
            <% if (allShopingProducts.length > 0) { %>
                <div class="col-12"  
                    data-aos="fade-right"
                    data-aos-delay=""
                    data-aos-offset=""
                    data-aos-duration="1500">
                    <div class="alert alert-danger"> <%= trans("cartEmpty") %> <%= TIME_OF_PRODUCT_IN_CART %> <%= trans("houre") %></div>
                </div>            
            <% } %>      
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5" 
            >
            <div 
                data-aos="fade-up"
                data-aos-delay=""
                data-aos-offset=""
                data-aos-duration="1500" class=" <%= allShopingProducts.length > 0 ? "col-lg-9" : "col-lg-12" %> table-responsive mb-5">
                <% if (allShopingProducts.length > 0) { %>
                    <table class=" mb-5 table display nowrap table-striped table-bordered" style="width:100% !important">
                    <thead class="thead-dark">
                        <tr>
                            <th><%= trans("products") %></th>
                            <th><%= trans("RealPrice") %></th>
                            <th><%= trans("count") %></th>
                            <th><%= trans("Descount") %></th>
                            <th><%= trans("Shipping") %></th>
                            <th><%= trans("Structure") %></th>
                            <th><%= trans("Actions") %></th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <% allShopingProducts.forEach((element, index) => { %>
                        <tr id="<%= element.cartProduct.id %>">
                            <td class="text-left"><img src="/assets/dashboard/Products/<%= element.cartProduct.productImage.split("--")[0] %>" alt="" style="width: 50px;"> <a style="color:#222" href="/product-Details/<%= element.cartProduct["slug_" + lang] %>"><%= element.cartProduct["productName_" + lang] %></a></td>
                            <td class="align-middle"><%= element.cartProduct.price * element.count %>Eg</td>
                            <td class="align-middle">
                                <div class="input-group mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button style="height:100%" onclick="changeCountByButton('<%= element.cartProduct.id %>','minus')"  class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input style="padding:0 !important" oninput="changeCountByInput(event ,'<%= element.cartProduct.id %>')" min="1" data_attr="<%= element.cartProduct.id %>" type="number" class="form-control form-control-sm bg-secondary border-0 text-center" value="<%= element.count %>">
                                    <div class="input-group-btn">
                                        <button style="height:100%" onclick="changeCountByButton('<%= element.cartProduct.id %>','plus')" data_type="plus" class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle"><%= element.cartProduct.descount %>%</td>
                            <td class="align-middle"><%= element.cartProduct.shipping %><%= trans("Eg") %></td>
                            <td class="align-middle"><%= element.cartProduct.structure * element.count %><%= trans("Eg") %></td>
                            <td class="align-middle"> 
                                <a id="<%= element.cartProduct.id %>" data_attr="<%= element.cartProduct.id %>" title="<%= trans("removeFromShoping") %>" class="btn btn-outline-dark btn-square addUserCart mx-2 active" href=""><i class="fa fa-shopping-cart"></i></a>
                            </td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>
                <% } else { %>
                    <div class="alert alert-danger"><%= trans("noProductInShopCart") %></div>
                <% } %>
              
            </div>
            <% if (allShopingProducts.length > 0) { %>
                <div 
                    data-aos="fade-right"
                    data-aos-delay=""
                    data-aos-offset=""
                    data-aos-duration="1500" class="col-lg-3">
                    <!-- <form class="mb-30" action="">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Apply Coupon</button>
                            </div>
                        </div>
                    </form> -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"><%= trans("CART_SUMMARY") %></span></h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="border-bottom pb-2">
                            <div class="d-flex justify-content-between ">
                                <h6> <%= trans("beforeDescount") %></h6>
                                <h6><%= Math.round(totalOfAll.price) %> <%= trans("Eg") %></h6>
                            </div>
                            <div class="d-flex justify-content-between ">
                                <h6> <%= trans("afterDescount") %></h6>
                                <h6><%= Math.round(totalOfAll.afterDescount) %> <%= trans("Eg") %></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium"><%= trans("totalShipping") %></h6>
                                <h6 class="font-weight-medium"><%= Math.round(totalOfAll.shipping) %> <%= trans("Eg") %></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium"><%= trans("totalStructure") %></h6>
                                <h6 class="font-weight-medium"><%= Math.round(totalOfAll.structure) %> <%= trans("Eg") %></h6>
                            </div>
                        </div>
                        <div class="pt-2">
                            <div class="d-flex justify-content-between mt-2">
                                <h5><%= trans("TotalPrice") %></h5>
                                <h5><%= Math.round(totalOfAll.totalPrice) %> <%= trans("Eg") %></h5>
                            </div>
                            <a href="/mack-order" class="btn btn-block btn-primary font-weight-bold my-3 py-3"><%= trans("ComplateProcess") %></a>
                        </div>
                    </div>
                </div>            
            <% } %>
        </div>
        <%- include("../inclueds/pafination.ejs")  %>

    </div>
    <!-- Cart End -->


<%- include("../inclueds/footer")  %>
<%- include("../inclueds/footer_script")  %>
<script src="/public/website/js/sweetalert.min.js"></script>
<script>

    const UserCart = document.querySelector(".UserCart")
    const addUserCart = document.querySelectorAll(".addUserCart")
    addUserCart.forEach(ele => {
        ele.onclick = (e) => {
            e.preventDefault()
            const productId = ele.getAttribute("data_attr")
            ele.classList.toggle("active")
                $.ajax({
                url : "/add-to-shoping-cart?_csrf=" + '<%= csrf %>',
                method:"post",
                data : {
                    userId : '<%= userData ? userData.id : 0 %>',
                    productId,
                    count:1,
                },
                success(data) {
                    if(data.status) {
                        if(ele.classList.contains("active")){
                            UserCart.innerHTML = +UserCart.innerHTML + 1
                        } else {
                            UserCart.innerHTML = +UserCart.innerHTML - 1
                        }
                        document.getElementById(productId).remove()
                        Swal.fire({
                            icon: 'success',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })
                        setTimeout(() => {
                            window.location.reload()
                        } , 2500)
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title:data.message,
                            showConfirmButton: false,
                            timer: 2500
                        })                    
                    }
                },
                error(error){
                    Swal.fire({
                            icon: 'error',
                            title:"505 error",
                            showConfirmButton: false,
                            timer: 2500
                        })                
                    }
            })
        }
    })
 


    // change product count in cart
    function changeCountByButton(productId , operation) {
        const input = document.querySelector(`[data_attr='${productId}']`)
        console.log(input)
        if(operation == "plus") {
            input.value = +input.value + 1
        } else {
            if(input.value == 1) return
            input.value = +input.value - 1
        }
        sendAjaxCall(productId , input.value)
    } 
    
    function changeCountByInput(e ,productId) {
        const count = e.target.value
        if(!count || count == 0) return
        sendAjaxCall(productId , count)
    } 
    
 function sendAjaxCall(productId , count) {
    $.ajax({
        url : "/shoping-cart-count?_csrf=" + '<%= csrf %>',
        method:"post",
        data : {
            userId : '<%= userData ? userData.id : 0 %>',
            productId,
            count:count,
        },
        success(data) {
            if(data.status) {
                Swal.fire({
                    icon: 'success',
                    title:data.message,
                    showConfirmButton: false,
                    timer: 2500
                })
                setTimeout(() => {
                    window.location.reload()
                } , 2500)
            } else {
                Swal.fire({
                    icon: 'error',
                    title:data.message,
                    showConfirmButton: false,
                    timer: 2500
                })                    
            }
        },
        error(error){
            Swal.fire({
                    icon: 'error',
                    title:"505 error",
                    showConfirmButton: false,
                    timer: 2500
                })                
            }
        })
 }

</script>
</body>
    