
<%- include("../inclueds/head")  %>
</head>
<body>
<%- include("../inclueds/upperNavbare")  %> 
<%- include("../inclueds/lowerNavbare")  %> 
<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

    <!-- Breadcrumb Start -->
    <div class="container-fluid"
        data-aos="fade-left"
        data-aos-delay=""
        data-aos-offset=""
        data-aos-duration="1500">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/home"><%= trans("home") %></a>
                    <a class="breadcrumb-item text-dark" href="/all-products"><%= trans("products") %></a>
                    <span class="breadcrumb-item active"><%= trans("testmonials") %></span>
                </nav>
                <%- include("../inclueds/notification.ejs") %> 
            </div>    
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid" >
        <div class="px-xl-5">
            <div class="row ">
                <div class="col-12 mb-3" >
                    <h2 data-aos="fade-right"
                    data-aos-delay=""
                    data-aos-offset=""
                    data-aos-duration="1500" class="section-title position-relative text-uppercase"><span class="bg-secondary pr-3"><%= trans("testmonials") %></span></h2>
                </div>
                <div class="col-12" 
                    data-aos="fade-left"
                    data-aos-delay=""
                    data-aos-offset=""
                    data-aos-duration="1500">
                    <div class="addTestMonial ">
                        <form onsubmit="addTestmonial(event)" class="form testmonialForm">
                            <div class="form-group">
                                <label for="projectinput1"> <%= trans("enterTestmonialInArabic") %> <%= numberOfLetters %> <%= trans("LettersMaximum") %></label>
                                <textarea class="form-control" placeholder="<%= trans("enterTestmonialInArabic") %>"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="projectinput1"> <%= trans("enterTestmonialInEnglish") %> <%= numberOfLetters %> <%= trans("LettersMaximum") %></label>
                                <textarea class="form-control" placeholder="<%= trans("enterTestmonialInArabic") %>"></textarea>
                            </div>
                            <div class="g-recaptcha mb-2" data-sitekey="<%= secretKey %>"></div>

                            <div class="productRate d-flex align-items-center mb-3">
                                <% [1,2,3,4,5].forEach(ele => { %>
                                    <i class="far fa-star"></i>
                                <% }) %>
                            </div>
                            
                            <% if (userData) { %>
                                <button type="submit" class="btn btn-primary btn-block"><%= trans("CreateYourTestmonials") %></button>
                            <% } else { %>
                                <a class="btn btn-primary btn-block py-2" href="/signIn"><%= trans("SignIn") %></a>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% if (allTestmonials.length > 0) { %>
            <div class="px-xl-5" 
            >
                <div class="row">
                    <% allTestmonials.forEach(element => { %>
                        <div class="col-md-4" 
                            data-aos="fade-up"
                            data-aos-delay=""
                            data-aos-offset=""
                            data-aos-duration="1500">
                            <div class=" testmonial">
                                <div class="inner">
                                    <blockquote>
                                        <p><%= element["testmonial_" + lang]%></p>
                                        <div class="arrow"></div>
                                    </blockquote>
                                    <img src="<%= element.testmonialsUser.image ? "/assets/dashboard/Users/" + element.testmonialsUser.image.split("--")[0] : "/assets/dashboard/defaultImages/avatar.png" %>" alt="sq-sample3" />
                                    <div class="author">
                                    <h5 class="d-flex align-items-center justify-content-between">
                                        <span class="name"><%= element.testmonialsUser.fName + " " + element.testmonialsUser.lName %></span>
                                        <span class="text-primary  d-flex align-items-center justify-content-center mb-1">  
                                            <% [1,2,3,4,5].forEach(ele => { %>
                                                <i class="<%= element.rate >= ele ? "fas" : "far" %> fa-star"></i>
                                            <% }) %>
                                        </span>
                                    </h5>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    <% }) %>
                </div> 
            </div>
            <br>
            
            <%- include("../inclueds/pafination.ejs")  %>
        <% } else { %>
            <div class="row px-xl-5 ">
                <div class="col-12">
                    <div class="alert alert-danger " style="background:#f8cb27;text-align: center;text-transform: capitalize;"><%= trans("noTestmonials") %></div>
                </div>
            </div>
        <% } %>
    </div>
    <!-- Cart End -->


<%- include("../inclueds/footer")  %>
<%- include("../inclueds/footer_script")  %>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/public/website/js/sweetalert.min.js"></script>
<script>
    const UserCart = document.querySelector(".UserCart")
    const testmonialForm = document.querySelector(".testmonialForm")
    const testmonialButton = testmonialForm.querySelector(" button")
    const formTextArea = testmonialForm.querySelectorAll("textarea")
    const productRate = document.querySelectorAll(".productRate i") 
    
    let finalRate = 0
    function addTestmonial(e) {
        e.preventDefault()
        if(!validationForm()) return
        createTestmonialAjax()
    }

    function createTestmonialAjax(){
        const captcha = document.querySelector(".g-recaptcha-response").value
        console.log(captcha)
            $.ajax({
            url : "/add-testmonials?_csrf=" + '<%= csrf %>',
            method:"post",
            data : {
                testmonial_en : formTextArea[1].value,
                testmonial_ar : formTextArea[0].value,
                userId : '<%= userData ? userData.id : 0 %>',
                rate : finalRate,
                captcha : captcha
            },
            success(data) {
                if(data.status) {
                    Swal.fire({
                        icon: 'success',
                        title:data.message,
                        showConfirmButton: false,
                        timer: 2500
                    })
                    resetAll()
                } else {
                    Swal.fire({
                        icon: 'error',
                        title:data.message,
                        showConfirmButton: false,
                        timer: 2500
                    })                    
                }
            },
            error(error){
                Swal.fire({
                    icon: 'error',
                    title:error.message,
                    showConfirmButton: false,
                    timer: 2500
                })                
            }
        })
    }
    
    // start function validation form 
    function validationForm() {
        let valid = true
        let isLessThanNumber = true 
        let errorMessage = "" 
        formTextArea.forEach(ele => {
            if(!ele.value) {
                valid = false
            } else if(!finalRate) {
                valid = false
            }
            if(ele.value.length > '<%= numberOfLetters %>') {
                isLessThanNumber = false
            }
            

        })
        if(!valid) {
            errorMessage = "you should enter testmonial with to language and your rate please"
        } else if(!isLessThanNumber) {
            errorMessage = "your testmonial should be equal or less than <%= numberOfLetters %>"
        }
        
        
        if(valid && isLessThanNumber) {
            return true
        } else {
            Swal.fire({
            icon: 'error',
            title: errorMessage,
            showConfirmButton: false,
            timer: 4500
            })
            return false
        }
    }

    // start rate part
    productRate.forEach((ele , index) => {
        ele.onmouseover = () => {rateChange(index)}
        ele.onmouseleave = () => {
            finalRate = index + 1
        }
        
    })

    function rateChange(index){
        productRate.forEach((element , i) => {
            if(i <= index) {
                element.className = "fa fa-star"
            } else {
                element.className = "far fa-star"
            }
        })
    }

    // start reset all fields 
    function resetAll() {
        productRate.forEach((ele , index) => {
            ele.className = "far fa-star"
        })
        formTextArea.forEach((ele , index) => {
            ele.value = ""
        })
    }
</script>
</body>
    